.about-us {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px 0;
}

.about-us__content {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    h2, p {
        text-align: center;
    }
}

.about-us__signature {
    display: flex;
    justify-content: center;
}

@media (max-width: 700px) {
    .about-us__content {
        width: 400px;
    }
}
