.header {
    padding: 30px 70px;
    background-image: url("../img/banner.png");
    background-size: cover;
    background-position: center;
    position: relative;
}

.header__container {
    display: flex;
}

.header__logo {
    flex: 1;
}

.header__nav {
    flex: 1;
    display: flex;
}

.nav__list {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.nav__item:hover {
    color: rgb(84, 208, 203);
}

.header__burger-container {
    display: none;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
}

.header__burger-icon {
    width: 30px;
    height: 30px;
}

.header__burger-icon:hover {
    fill: rgb(84, 208, 203);
}

.banner {
    margin: 130px 20px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.banner__content p {
    font-family: 'NunitoSans', sans-serif;
    color: rgb( 120, 120, 120 );
}

.banner__content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 420px;
}

.banner__button {
    width: 150px;
    font-size: 12px;
    background-color: rgb(84, 208, 203);
    color: rgb(255, 255, 255);
    padding: 16px 32px;
}

.banner__button:hover {
    background-color: rgb(88, 213, 208);
}

@media (max-width: 960px) {
    .header__burger-container {
        display: flex;
    }

    .header__nav:hover .nav__list{
        transform: translateX(0px);
    }

    .nav__list {
        transition: 0.3s;
        transform: translateX(300px);
        position: fixed;
        flex-direction: column;
        justify-content: inherit;
        right: 0;
        top: 0;
        z-index: 99;
        width: 280px;
        background-color: rgba(248, 249, 249, 100);
        padding: 70px;
        height: 100%;
    }

    .nav__item{
        text-align: right;
    }
}
